<div class="alarms-details-action-call">
  <h5><%- t('alarms', 'ACTION:call:HEADER') %></h5>
  <p><%- t('alarms', 'ACTION:call:DETAILS', {delay: delay, users: parameters.users}) %></p>
  <pre><%= parameters.text %></pre>
</div>
