<div class="alarms-details-action-message">
  <h5><%- t('alarms', 'ACTION:message:HEADER:' + type) %></h5>
  <p><%- t('alarms', 'ACTION:message:DETAILS', {delay: delay, users: parameters.users}) %></p>
  <pre><%= parameters.text %></pre>
</div>
