<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:ANALYTICS') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="ANALYTICS:VIEW"><a href="#analytics/charts"><%- t('core', 'NAVBAR:ANALYTICS:CHARTS') %></a>
    <li data-privilege="ANALYTICS:VIEW"><a href="#analytics/changes"><%- t('core', 'NAVBAR:ANALYTICS:CHANGES') %></a>
  </ul>
