.screenEditor-toolbar .btn {
  width: 40px;
}
.screenEditor-toolbar .screenEditor-toolbar-zoom {
  width: auto;
}
.screenEditor-toolbar-scale {
  display: inline-block;
  width: 45px;
  text-align: right;
}
.screenEditor-toolbar .dropdown-menu a {
  position: relative;
  padding-right: 100px;
}
.screenEditor-toolbar kbd {
  position: absolute;
  right: 10px;
  padding: 0;
  border: 0;
  color: inherit;
  background: transparent;
  box-shadow: none;
}
