.page[data-id="dashboard"] .page-breadcrumbs {
  text-align: center;
}
.page[data-id="dashboard"] .logInForm {
  max-width: 600px;
  margin: 0 auto;
}

.dashboard-rows {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-rows > .panel {
  margin-right: 14px;
}
.dashboard-rows > .panel-danger:hover > .panel-body {
  background-color: rgba(217, 83, 79, 0.1);
}
.dashboard-rows > .panel-warning:hover > .panel-body {
  background-color: rgba(240, 173, 78, 0.1);
}
