<div>
	<h3>Budynek 41</h3>
	<dl>
		<dt>Temperatura</dt>
		<dd><span data-tag="b41.T">?</span>°C</dd>
		<dt>Wilgotność</dt>
		<dd><span data-tag="b41.H">?</span>%</dd>
		<dt>Ruch</dt>
		<dd><span data-tag="b41.motion">?</span></dd>
	</dl>
	<h3>Pokój Łukasza</h3>
	<dl>
		<dt>Temperatura</dt>
		<dd><span data-tag="pl.T">?</span>°C</dd>
		<dt>Wilgotność</dt>
		<dd><span data-tag="pl.H">?</span>%</dd>
		<dt>Ruch</dt>
		<dd><span data-tag="pl.motion">?</span></dd>
	</dl>
	<div class="de" data-tag="b41.T">
		<div class="den">
			<div class="dene">
				<div class="denem">
					<div class="deneme">
						<span class="integer">0</span><span class="decimal">.0</span><strong>°</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
