<div class="panel panel-primary screenEditor-panel screenEditor-components">
  <div class="panel-heading">
    <%- t('screens', 'editor:components:title') %>
  </div>
  <div class="panel-body"></div>
</div>
