<div class="screenEditor">
  <div id="<%- idPrefix %>-hd" class="screenEditor-hd"></div>
  <div class="screenEditor-bd">
    <div id="<%- idPrefix %>-left" class="screenEditor-sidebar" style="width: 250px"></div>
    <div id="<%- idPrefix %>-viewport" class="screenEditor-viewport screenEditor-scrollbar"></div>
    <div id="<%- idPrefix %>-right" class="screenEditor-sidebar" style="width: 400px;">
      <% include structure.ejs %>
      <% include properties.ejs %>
    </div>
  </div>
</div>
