<div class="panel panel-primary screenEditor-panel screenEditor-properties">
  <div class="panel-heading">
    <%- t('screens', 'editor:properties:title') %>
  </div>
  <div class="panel-body"></div>
  <div class="panel-footer screenEditor-panel-tabs">
    <div class="screenEditor-panel-tab is-active">Podstawowe</div>
    <div class="screenEditor-panel-tab">Układ</div>
    <div class="screenEditor-panel-tab">Styl</div>
  </div>
</div>
