<div class="panel panel-primary screenEditor-panel screenEditor-structure">
  <div class="panel-heading">
    <%- t('screens', 'editor:structure:title') %>
  </div>
  <div class="panel-body screenEditor-scrollbar"></div>
</div>
